<!DOCTYPE html>
{% load static %}
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Glossário de Café</title>
    <link rel="stylesheet" href="{% static 'css/glossario.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

<body>
    <a href="{% url 'home' %}">
        <div class="tittle">
            <div class="icones">
                <i class="fa-solid fa-house"></i> <!-- Casinha -->
                <i class="fa-solid fa-user"></i> <!-- Boneco -->
            </div>
        </a>
        <h1><a href="{% url 'home' %}">Acompanhamentos</a></h1>
        <div class="search-container">
            <form method="POST" action="{% url 'palavra' %}" id="search-form"> {% csrf_token %}
                <input type="text" id="id_palavra" name="palavra" placeholder="Pesquisar...">
                <button type="submit" name="pesquisar" style="display: none;"></button>
            </form>
        </div>
        <a href="{% url 'home' %}" class="a"><img src="{% static 'fotos/logo_1.png' %}" height="50px"></a>
    </div>

    <div id="termos-explicacao">
        <h1>CAFÉS E COMIDAS</h1>
    </div>
    <div class="container">
        <div class="glossary">
            <div class="term">
                <div class="word">Mocha</div>
                <div class="definition">
                    <p><strong>Mocha com Chocolate Amargo</strong></p>
                    <ul>
                        <li>Brownie de Chocolate</li>
                        <li>Cookies de Amêndoas</li>
                        <li>Cheesecake de Frutas Vermelhas</li>
                    </ul>
                    <p><strong>Mocha com Caramelo Salgado</strong></p>
                    <ul>
                        <li>Brownie de Chocolate</li>
                        <li>Cookies de Amêndoas</li>
                        <li>Cheesecake de Frutas Vermelhas</li>
                    </ul>
                    <p><strong>Mocha com Menta</strong></p>
                    <ul>
                        <li>Brownie de Chocolate</li>
                        <li>Cookies de Amêndoas</li>
                        <li>Cheesecake de Frutas Vermelhas</li>
                    </ul>
                </div>
            </div>
            <div class="term">
                <div class="word">Café Preto</div>
                <div class="definition">
                    <p><strong>Café Preto Intenso</strong></p>
                    <ul>
                        <li>Bolo de Cenoura</li>
                        <li>Pão de Queijo</li>
                        <li>Torrada com Manteiga</li>
                    </ul>
                    <p><strong>Café Preto Suave</strong></p>
                    <ul>
                        <li>Bolo de Cenoura</li>
                        <li>Pão de Queijo</li>
                        <li>Torrada com Manteiga</li>
                    </ul>
                    <p><strong>Café Preto Defumado</strong></p>
                    <ul>
                        <li>Bolo de Cenoura</li>
                        <li>Pão de Queijo</li>
                        <li>Torrada com Manteiga</li>
                    </ul>
                </div>
            </div>
            <div class="term">
                <div class="word">Cappuccino</div>
                <div class="definition">
                    <p><strong>Cappuccino Clássico</strong></p>
                    <ul>
                        <li>Tiramisu</li>
                        <li>Croissant</li>
                        <li>Waffle com Mel</li>
                    </ul>
                    <p><strong>Cappuccino com Canela</strong></p>
                    <ul>
                        <li>Tiramisu</li>
                        <li>Croissant</li>
                        <li>Waffle com Mel</li>
                    </ul>
                    <p><strong>Cappuccino com Baunilha</strong></p>
                    <ul>
                        <li>Tiramisu</li>
                        <li>Croissant</li>
                        <li>Waffle com Mel</li>
                    </ul>
                </div>
            </div>
            <div class="term">
                <div class="word">Espresso</div>
                <div class="definition">
                    <p><strong>Espresso Tradicional</strong></p>
                    <ul>
                        <li>Macarons</li>
                        <li>Biscoitos de Amêndoas</li>
                        <li>Mousse de Chocolate</li>
                    </ul>
                    <p><strong>Espresso com Limão</strong></p>
                    <ul>
                        <li>Macarons</li>
                        <li>Biscoitos de Amêndoas</li>
                        <li>Mousse de Chocolate</li>
                    </ul>
                    <p><strong>Espresso com Chocolate</strong></p>
                    <ul>
                        <li>Macarons</li>
                        <li>Biscoitos de Amêndoas</li>
                        <li>Mousse de Chocolate</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
    <script src="{% static 'js/script.js' %}"></script>
</body>

</html>

    <script src="https://kit.fontawesome.com/7b20608c37.js" crossorigin="anonymous"></script>
</body>

</html>
