<!DOCTYPE html>
{% load static %}
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acompanhamentos</title>
    <link rel="stylesheet" href="{% static 'css/acompanhamentos.css' %}">
</head>

<body>
    <div class="title">
        <a href="{% url 'home' %}" class="back-home">
            <div class="arrow-left"></div>
        </a>
        <h1>Acompanhamentos</h1>
        <a href="{% url 'home' %}" class="logo">
            <img src="{% static 'fotos/logo_1.png' %}" height="40px" alt="Logo">
        </a>
    </div>
    <div class="container">
        <div class="glossary">
            <div class="term">
                <div class="word">Mocha</div>
                <div class="definition">
                    <p><strong>Mocha com Chocolate Amargo</strong></p>
                    <ul>
                        <li>Brownie de Chocolate</li>
                        <li>Cookies de Amêndoas</li>
                        <li>Cheesecake de Frutas Vermelhas</li>
                    </ul>
                    <p><strong>Mocha com Caramelo Salgado</strong></p>
                    <ul>
                        <li>Brownie de Chocolate</li>
                        <li>Cookies de Amêndoas</li>
                        <li>Cheesecake de Frutas Vermelhas</li>
                    </ul>
                    <p><strong>Mocha com Menta</strong></p>
                    <ul>
                        <li>Brownie de Chocolate</li>
                        <li>Cookies de Amêndoas</li>
                        <li>Cheesecake de Frutas Vermelhas</li>
                    </ul>
                </div>
            </div>
            <div class="term">
                <div class="word">Café Preto</div>
                <div class="definition">
                    <p><strong>Café Preto Intenso</strong></p>
                    <ul>
                        <li>Bolo de Cenoura</li>
                        <li>Pão de Queijo</li>
                        <li>Torrada com Manteiga</li>
                    </ul>
                    <p><strong>Café Preto Suave</strong></p>
                    <ul>
                        <li>Bolo de Cenoura</li>
                        <li>Pão de Queijo</li>
                        <li>Torrada com Manteiga</li>
                    </ul>
                    <p><strong>Café Preto Defumado</strong></p>
                    <ul>
                        <li>Bolo de Cenoura</li>
                        <li>Pão de Queijo</li>
                        <li>Torrada com Manteiga</li>
                    </ul>
                </div>
            </div>
            <div class="term">
                <div class="word">Cappuccino</div>
                <div class="definition">
                    <p><strong>Cappuccino Clássico</strong></p>
                    <ul>
                        <li>Tiramisu</li>
                        <li>Croissant</li>
                        <li>Waffle com Mel</li>
                    </ul>
                    <p><strong>Cappuccino com Canela</strong></p>
                    <ul>
                        <li>Tiramisu</li>
                        <li>Croissant</li>
                        <li>Waffle com Mel</li>
                    </ul>
                    <p><strong>Cappuccino com Baunilha</strong></p>
                    <ul>
                        <li>Tiramisu</li>
                        <li>Croissant</li>
                        <li>Waffle com Mel</li>
                    </ul>
                </div>
            </div>
            <div class="term">
                <div class="word">Espresso</div>
                <div class="definition">
                    <p><strong>Espresso Tradicional</strong></p>
                    <ul>
                        <li>Macarons</li>
                        <li>Biscoitos de Amêndoas</li>
                        <li>Mousse de Chocolate</li>
                    </ul>
                    <p><strong>Espresso com Limão</strong></p>
                    <ul>
                        <li>Macarons</li>
                        <li>Biscoitos de Amêndoas</li>
                        <li>Mousse de Chocolate</li>
                    </ul>
                    <p><strong>Espresso com Chocolate</strong></p>
                    <ul>
                        <li>Macarons</li>
                        <li>Biscoitos de Amêndoas</li>
                        <li>Mousse de Chocolate</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
    <script src="{% static 'js/script.js' %}"></script>
</body>

</html>
