{% include "pages\head.html" %}
{% load static %}
    <title>Adicionar Café</title>
    <link href="{% static 'adicionarcafe.css' %}" rel="stylesheet">
</head>
<body>
    {% include "pages\header.html" %}
    <h1>Informações do Café</h1>

    <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Descrição</th>
            <th></th>        
          </tr>
        </thead>
        <tbody>
          {% for cafe in cafes %}
              <tr>
                  <td>{{ cafe.id_cafe }}</td>
                  <td>{{ cafe.nome }}</td>
                  <td>{{ cafe.descricao }}</td>
                  <form method="POST" action="{% url 'adicionarcafe' %}"> {% csrf_token %}
                  <td><button name="remover" value="{{ cafe.id_cafe }}">Remover</button></td>
                  </form>
              </tr>
          {% endfor %}
        </tbody>
    </table>

</body>
</html>