{% include "pages/head.html" %}
{% load static %}
    <title>Adicionar Café</title>
    <link href="{% static 'css/home.css' %}" rel="stylesheet">
    <link href="{% static 'css/admin.css' %}" rel="stylesheet">
</head>
<body>
    <h1>Cafés</h1>

    <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Descrição</th>
            <th>tamanho</th>
            <th>intensidade</th>
            <th>aroma</th>
            <th>imagem</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for cafe in cafes %}
              <tr>
                  <td>{{ cafe.id_cafe }}</td>
                  <td>{{ cafe.nome }}</td>
                  <td>{{ cafe.descricao }}</td>
                  <td>{{ cafe.tamanho }}</td>
                  <td>{{ cafe.intensidade }}</td>
                  <td>{{ cafe.aroma }}</td>
                  <td><img src='{{ cafe.foto.url }}' alt="img" ></td>
                  <form method="POST" action="{% url 'admin' %}"> {% csrf_token %}
                  <td><button name="removercafe" value="{{ cafe.id_cafe }}">Remover Cafe</button></td>
                  </form>
              </tr>
          {% endfor %}
        </tbody>
    </table>
    
    <form method="POST" enctype="multipart/form-data" action="{% url 'admin' %}"> {% csrf_token %}
      {{ forms.as_p }}
    <button type="submit" name="adicionarcafe">Adicionar Café</button>   
    </form>

    <h1>Palavras do Glossario</h1>
    <table>
      <thead>
        <tr>
          <th>Nome</th>
          <th>Descrição</th>
          <th></th>        
        </tr>
      </thead>
      <tbody>
        {% for palavra in palavras %}
            <tr>
                <td>{{ palavra.palavra }}</td>
                <td>{{ palavra.significado }}</td>
                <form method="POST" action="{% url 'admin' %}"> {% csrf_token %}
                <td><button name="removerpalavra" value="{{ palavra.palavra }}">Remover Palavra</button></td>
                </form>
            </tr>
        {% endfor %}
      </tbody>
  </table>

  <form method="POST" action="{% url 'admin' %}"> {% csrf_token %}
    <h2>Adicionar Palavra</h2>
    <input type="text" name= "palavra2" placeholder="fds">
    <input type="text" name= "significado" placeholder="significado">
    <button type="submit" name = "adicionarpalavra">Adicionar</button>
  </form>
</body>
</html>
