{% load static %}
{% include "pages/head.html" %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link href="{% static 'css/favoritos.css' %}" rel="stylesheet">
</head>
<body>
    <div class='navbar'>
        <form action="{% url 'home' %}" method="GET">{% csrf_token %}
            <a href="{% url 'home' %}">
                <i class="fas fa-home icon-size"></i>
                <i class="fas fa-user"></i>
            </a>
        </form>
        <img src="{% static 'fotos/logo_1.png' %}" height="50px" >
        <div></div>
    </div>

    <div class="products">
        <!-- Para cada produto, adicione um bloco de produto aqui -->
        <!-- Repita o bloco de produto para cada produto -->
        {% for cafe in cafes %}
        <div class="product">
            <div class="produtosCafe">      
                <div class='infoCafe'>
                    <div class='imageCafe'>
                        <div class='favorite'>
                            <h2 class="nomeCafe">{{ cafe.nome }}</h2>
                            <form action="{% url 'favoritos' %}" method="POST">
                                {% csrf_token %}
                                <button id='favoritar-btn' name="deletar" value="{{cafe.id_cafe}}"><i id='favoritado' class="fas fa-solid fa-heart"></i></button>
                            </form>
                        </div>
                        <img id="fotoCafe" src="{{ cafe.foto.url }}" alt="Imagem do café">
                    </div>
                    <div class='descricao'>
                        <p id='cafeDescricao'>{{ cafe.descricao }}</p>
                        <img id='cafeDescricaofoto'src="{% static 'fotos/recomendacoes.jpg' %}" height='70px'>
                    </div>
                </div>

                <div class="caracteristicas">
                    <div class="caracteristica">
                        <h3>Tamanho <!-- tamanho do café --></h3>
                        {% if cafe.tamanho == "1" %}
                        <img src="{% static 'fotos/tamanho/tamanho1.png'%}" alt="Tamanho">
                        {% elif cafe.tamanho == "2" %}
                        <img src="{% static 'fotos/tamanho/tamanho2.png'%}" alt="Tamanho">
                        {% elif cafe.tamanho == "3" %}
                        <img src="{% static 'fotos/tamanho/tamanho3.png'%}" alt="Tamanho">
                        {% endif %}
                    </div>
                    <div class="caracteristica">
                        <h3>Intensidade <!-- intensidade do café --></h3>
                        <br><br>
                        {% if cafe.intensidade == "1" %}
                        <img src="{% static 'fotos/intensidade/intensidade1.png'%}" alt="intensidade">
                        {% elif cafe.intensidade == "2" %}
                        <img src="{% static 'fotos/intensidade/intensidade2.png'%}" alt="intensidade">
                        {% elif cafe.intensidade == "3" %}
                        <img src="{% static 'fotos/intensidade/intensidade3.png'%}" alt="intensidade">
                        {% endif %}
                    </div>
                    <div class="caracteristica">
                        <h3>Aroma <!-- aroma do café --></h3>
                        {% if cafe.aroma == "1" %}
                        <img src="{% static 'fotos/aroma/aroma1.png'%}" alt="aroma">
                        {% elif cafe.aroma == "2" %}
                        <img src="{% static 'fotos/aroma/aroma2.png'%}" alt="aroma">
                        {% elif cafe.aroma == "3" %}
                        <img src="{% static 'fotos/aroma/aroma3.png'%}" alt="aroma">
                        {% elif cafe.aroma == "4" %}
                        <img src="{% static 'fotos/aroma/aroma4.png'%}" alt="aroma">
                        {% elif cafe.aroma == "5" %}
                        <img src="{% static 'fotos/aroma/aroma5.png'%}" alt="aroma">
                        {% elif cafe.aroma == "6" %}
                        <img src="{% static 'fotos/aroma/aroma6.png'%}" alt="aroma">
                        {% elif cafe.aroma == "7" %}
                        <img src="{% static 'fotos/aroma/aroma7.png'%}" alt="aroma">
                        {% elif cafe.aroma == "8" %}
                        <img src="{% static 'fotos/aroma/aroma8.png'%}" alt="aroma">
                        {% endif %}
                    </div>
                </div>
                
            </div>
            <br>
        </div>
        <br><br><br><br><br>
        {% endfor %}
    </div>
</body>


<script>
    function toggleMenu() {
        var menu = document.getElementById('nav-menu');
        var hamburger = document.querySelector('.hamburger-menu i');
        menu.classList.toggle('active');

        if (menu.classList.contains('active')) {
            hamburger.style.position = 'fixed';
            hamburger.style.left = '250px'; 
        } else {
            hamburger.style.position = 'absolute';
            hamburger.style.left = '20px';
        }
    }
</script>