<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Glossário de Café</title>
    <link rel="stylesheet" href="static/glossario.css">
</head>

<body>
    <div class="tittle">
        <h1>Glossário</h1>
        <a href="">icon</a>
    </div>
    <div class="container">


        <div class="search-container">
            <input type="text" id="searchInput" placeholder="Pesquisar...">
            <button onclick="search()">Pesquisar</button>
        </div>
        <div class="glossary">
            <div class="term">
                <div class="word">Café Arábica</div>
                <div class="definition">Um tipo de café conhecido por seu sabor suave e doce, frequentemente cultivado
                    em altitudes mais elevadas.</div>
            </div>
            <!-- Outras palavras -->
        </div>
    </div>
    
    <footer>
        <p>&copy; 2024 Catálogo de Café</p>
    </footer>
    
    <script src="script.js">

        function search() {

        }

    </script>
</body>

</html>