<!DOCTYPE html>
{% load static %}
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Glossário de Café</title>
    <link rel="stylesheet" href="{% static 'css/glossario.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

<body>
    <a href="{% url 'home' %}">
        <div class="tittle">
            <div class="icones">
                <i class="fa-solid fa-house"></i> <!-- Casinha -->
                <i class="fa-solid fa-user"></i> <!-- Boneco -->
            </div>
        </a>
        <h1><a href="{% url 'home' %}">Glossário</a></h1>
        <div class="search-container">
            <form method="POST" action="{% url 'palavra' %}" id="search-form"> {% csrf_token %}
                <input type="text" id="id_palavra" name="palavra" placeholder="Pesquisar...">
                <button type="submit" name="pesquisar" style="display: none;"></button>
            </form>
        </div>
        <a href="{% url 'home' %}" class="a"><img src="{% static 'fotos/logo.png' %}" height="50px"></a>
    </div>

    <div id="termos-explicacao">
        <h1>TERMOS E EXPLICAÇÃO</h1>
    </div>
    <div class="container">
        {% for palavra in palavras %}
        <div class="glossary">
            <div class="term">
                <div class="word">{{ palavra.palavra }}: <span class="definition">{{ palavra.significado }}</span></div>
            </div>
            <!-- Outras palavras -->
        </div>
        {% endfor %}
    </div>

    <script src="https://kit.fontawesome.com/7b20608c37.js" crossorigin="anonymous"></script>
</body>

</html>
