
<!DOCTYPE html>
{% load static %}
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Glossário de Café</title>
    <link rel="stylesheet" href="{% static 'glossario.css' %}">
</head>

<body>
    <div class="tittle">
        <h1>Glossário</h1>
        <a href="">icon</a>
    </div>
    <div class="container">

        <form method="POST" action="{% url 'palavra' %}"> {% csrf_token %}
        <div class="search-container">
            <input type="text" id="id_palavra" name= "palavra" placeholder="Pesquisar...">
            <button type="submit" name = "pesquisar">Pesquisar</button>
        </form>

        {% for palavra in palavras %}
        <div class="glossary">
            <div class="term">
                <div class="word">{{ palavra.palavra}}</div>
                <div class="definition">{{ palavra.significado }}</div>
            </div>
            <!-- Outras palavras -->
        </div>
        {% endfor %}
    </div>
    
    <script src="script.js">


    </script>
</body>

</html>