{% load static %}
{% include "pages/head.html" %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
<link href="{% static 'css/home.css' %}" rel="stylesheet">
</head>

<body>
    <div class="header">
        <h1><a href="{% url 'home' %}">Easy Coffee</a></h1>
    </div>

    <div class="square-main">
        <h1><a href="{%url 'produtos' %}" class="square square1">Produtos</a></h1>
        <h1><a href="{%url 'glossario' %}" class="square square2" onclick="glossario()">Glossário</a></h1>
    </div>
    <div class="wrapper">
        <i id="left" class="fa-solid fa-angle-left"></i>
        <ul class="carousel">
            <li class="card">
                <div class="img"><img src="{% static 'fotos/morenooo.jpg' %}" alt="img" draggable="false"></div>
                <h2>Café preto</h2>
                <span>Gabriel Landim</span>
                <div class="rating">
                    <span class="star" data-rating="1">&#9733;</span>
                    <span class="star" data-rating="2">&#9733;</span>
                    <span class="star" data-rating="3">&#9733;</span>
                    <span class="star" data-rating="4">&#9733;</span>
                    <span class="star" data-rating="5">&#9733;</span>
                </div>
            </li>
            <li class="card">
                <div class="img"><img src="{% static 'fotos/pedro.jpeg' %}" alt="img" draggable="false"></div>
                <h2>Capuccino</h2>
                <span>Pedro Sampaio</span>
                <div class="rating">
                    <span class="star" data-rating="1">&#9733;</span>
                    <span class="star" data-rating="2">&#9733;</span>
                    <span class="star" data-rating="3">&#9733;</span>
                    <span class="star" data-rating="4">&#9733;</span>
                </div>
            </li>
            <li class="card">
                <div class="img"><img src="{% static 'fotos/gustavo.jpeg' %}" alt="img" draggable="false"></div>
                <h2>Café expresso</h2>
                <span>Luís Gustavo</span>
                <div class="rating">
                    <span class="star" data-rating="1">&#9733;</span>
                    <span class="star" data-rating="2">&#9733;</span>
                    <span class="star" data-rating="3">&#9733;</span>
                    <span class="star" data-rating="4">&#9733;</span>
                    <span class="star" data-rating="5">&#9733;</span>
                </div>
            </li>
            <li class="card">
                <div class="img"><img src="{% static 'fotos/franca.jpeg' %}" alt="img" draggable="false"></div>
                <h2>Café Gelado</h2>
                <span>Felipe França</span>
                <div class="rating">
                    <span class="star" data-rating="1">&#9733;</span>
                    <span class="star" data-rating="2">&#9733;</span>
                    <span class="star" data-rating="3">&#9733;</span>
                    <span class="star" data-rating="4">&#9733;</span>
                    <span class="star" data-rating="5">&#9733;</span>
                </div>
            </li>
            <li class="card">
                <div class="img"><img src="{% static 'fotos/kiko.jpeg' %}" alt="img" draggable="false"></div>
                <h2>Café macchiato</h2>
                <span>Felipe Matias</span>
                <div class="rating">
                    <span class="star" data-rating="1">&#9733;</span>
                    <span class="star" data-rating="2">&#9733;</span>

                </div>
            </li>
            <li class="card">
                <div class="img"><img src="{% static 'fotos/lucas.jpg' %}" alt="img" draggable="false"></div>
                <h2>Mocha</h2>
                <span>Lucas Ferreira</span>
                <div class="rating">
                    <span class="star" data-rating="1">&#9733;</span>
                </div>
            </li>
        </ul>
        <i id="right" class="fa-solid fa-angle-right"></i>
    </div>


    <script src="{% static 'js/carrosel.js' %}">

    </script>
</body>

</html>