<head>
    {% load static %}
    {% include "pages/head.html" %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link href="{% static 'css/home.css' %}" rel="stylesheet">
</head>

<body>
    <div class="header">
        <div class="hamburger-menu">
            <i class="fa-solid fa-bars" onclick="toggleMenu()"></i>
        </div>
        <a href="{% url 'home' %}" class="a"><img src="{% static 'fotos/logo.png' %}" height="50px"></a>
        {% if check == 1 %}
        <form action="{% url 'home' %}" method="POST">{% csrf_token %}
            <button id="perfil">Sair de {{user}}</button>
        </form>
        {% else %}
        <form action="{% url 'login' %}" method="GET">{% csrf_token %}
            <button id="perfil" >Login</button>
        </form>
        {% endif %}
        <div id="nav-menu" class="nav-menu">
            <a href="{% url 'acompanhamentos' %}">Acompanhamentos</a>
            <a href="{% url 'recomendacao' %}">Recomendações</a>
            <a href="{% url 'favoritos' %}">Favoritos</a>
        </div>
    </div>

    <div class="square-main">
        <h1><a href="{%url 'produtos' %}" class="square square1">Produtos</a></h1>
        <h1><a href="{%url 'glossario' %}" class="square square2" onclick="glossario()">Glossário</a></h1>
    </div>
    <div class="wrapper">
        <i id="left" class="fa-solid fa-angle-left"></i>
        <ul class="carousel">
            <div class="a">
            <li class="card">
                <div class="img"><img src="{% static 'fotos/morenooo.jpg' %}" alt="img" draggable="false"></div>
                <h2>Café preto</h2>
                <span>Gabriel Landim</span>
                <div class="rating">
                    <span class="star" data-rating="1">&#9733;</span>
                    <span class="star" data-rating="2">&#9733;</span>
                    <span class="star" data-rating="3">&#9733;</span>
                    <span class="star" data-rating="4">&#9733;</span>
                    <span class="star" data-rating="5">&#9733;</span>
                </div>
            </li>
            </div>
            <li class="card">
                <div class="img"><img src="{% static 'fotos/pedro.jpeg' %}" alt="img" draggable="false"></div>
                <h2>Capuccino</h2>
                <span>Pedro Sampaio</span>
                <div class="rating">
                    <span class="star" data-rating="1">&#9733;</span>
                    <span class="star" data-rating="2">&#9733;</span>
                    <span class="star" data-rating="3">&#9733;</span>
                    <span class="star" data-rating="4">&#9733;</span>
                </div>
            </li>
            <li class="card">
                <div class="img"><img src="{% static 'fotos/gustavo.jpeg' %}" alt="img" draggable="false"></div>
                <h2>Café expresso</h2>
                <span>Luís Gustavo</span>
                <div class="rating">
                    <span class="star" data-rating="1">&#9733;</span>
                    <span class="star" data-rating="2">&#9733;</span>
                    <span class="star" data-rating="3">&#9733;</span>
                    <span class="star" data-rating="4">&#9733;</span>
                    <span class="star" data-rating="5">&#9733;</span>
                </div>
            </li>
            <li class="card">
                <div class="img"><img src="{% static 'fotos/franca.jpeg' %}" alt="img" draggable="false"></div>
                <h2>Café Gelado</h2>
                <span>Felipe França</span>
                <div class="rating">
                    <span class="star" data-rating="1">&#9733;</span>
                    <span class="star" data-rating="2">&#9733;</span>
                    <span class="star" data-rating="3">&#9733;</span>
                    <span class="star" data-rating="4">&#9733;</span>
                    <span class="star" data-rating="5">&#9733;</span>
                </div>
            </li>
            <li class="card">
                <div class="img"><img src="{% static 'fotos/kiko.jpeg' %}" alt="img" draggable="false"></div>
                <h2>Café macchiato</h2>
                <span>Felipe Matias</span>
                <div class="rating">
                    <span class="star" data-rating="1">&#9733;</span>
                    <span class="star" data-rating="2">&#9733;</span>

                </div>
            </li>
            <li class="card">
                <div class="img"><img src="{% static 'fotos/lucas.jpg' %}" alt="img" draggable="false"></div>
                <h2>Mocha</h2>
                <span>Lucas Ferreira</span>
                <div class="rating">
                    <span class="star" data-rating="1">&#9733;</span>
                </div>
            </li>
        </ul>
        <i id="right" class="fa-solid fa-angle-right"></i>
    </div>

    <script src="{% static 'js/carrosel.js' %}"></script>
    <script>
        function toggleMenu() {
            var menu = document.getElementById('nav-menu');
            var hamburger = document.querySelector('.hamburger-menu i');
            menu.classList.toggle('active');

            if (menu.classList.contains('active')) {
                hamburger.style.position = 'fixed';
                hamburger.style.left = '250px'; 
            } else {
                hamburger.style.position = 'absolute';
                hamburger.style.left = '20px';
            }
        }
    </script>
</body>
