<!DOCTYPE html>
{% load static %}
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Glossário de Café</title>
    <link rel="stylesheet" href="{% static 'css/glossario.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

<body>
    <a href="{% url 'home' %}">
        <div class="tittle">
            <div class="icones">
                <i class="fa-solid fa-house"></i> <!-- Casinha -->
                <i class="fa-solid fa-user"></i> <!-- Boneco -->
            </div>
        </a>
        <h1><a href="{% url 'home' %}">Recomendações</a></h1>
        <div class="search-container">
            <form method="POST" action="{% url 'palavra' %}" id="search-form"> {% csrf_token %}
                <input type="text" id="id_palavra" name="palavra" placeholder="Pesquisar...">
                <button type="submit" name="pesquisar" style="display: none;"></button>
            </form>
        </div>
        <a href="{% url 'home' %}" class="a"><img src="{% static 'fotos/logo_1.png' %}" height="50px"></a>
    </div>

    <div class="container">
        <div class="glossary">
            <div class="term">
                <div class="word"><h2>CAIPIRINHA DE CAFÉ</h2></div>
            </div>
            <div class="definition">
                <p><strong>Bebida que une dois dos maiores símbolos culturais brasileiros: a caipirinha e o café. Drink que surpreende os amigos e familiares em momentos especiais. Além disso, é uma ótima opção para quem deseja experimentar algo diferente e delicioso. Esta inovadora combinação de sabores adiciona uma reviravolta intrigante à tradicional caipirinha, incorporando o aroma robusto e o sabor único do café brasileiro. A mistura do café com a cachaça e o limão resulta em uma bebida refrescante e cheia de personalidade, perfeita para celebrar a riqueza da cultura brasileira.</strong></p>
            </div>
            <div class="term">
                <div class="word"><h2>COQUETEL DE CAFÉ</h2></div>
            </div>
            <div class="definition">
                <p><strong>Bebida para quem está buscando um drink mais doce. Harmoniza muito bem com café expresso, pois, por mais que o sabor do whisky seja mais forte, o licor e o xarope de canela são mais açucarados e equilibram. Este coquetel de café, muitas vezes chamado de "Café Cocktail", é uma opção indulgente que combina os sabores intensos do café expresso com a suavidade do licor e o toque doce do xarope de canela. É uma escolha perfeita para quem aprecia uma bebida mais adocicada, mas ainda deseja desfrutar da complexidade e do aroma do café.</strong></p>
            </div>
            <div class="term">
                <div class="word"><h2>CAFÉ CUBANO</h2></div>
            </div>
            <div class="definition">
                <p><strong>O drink cubano é uma variação do café tradicional cubano que combina café expresso com rum e licor de café. Ele mantém a intensidade e o sabor característicos do café cubano, mas adiciona uma nota de complexidade e indulgência com o toque de rum e licor de café. Geralmente servido em uma xícara pequena, o café cubano é uma bebida reconfortante e encorpada, perfeita para aqueles que apreciam uma combinação de café com um toque de álcool.</p>
            </div>
            <div class="term">
                <div class="word"><h2>IRISH COFFEE</h2></div>
            </div>
            <div class="definition">
                <p><strong>Drink quente que combina café, whisky, açúcar e creme chantilly. É uma escolha popular para quem gosta de bebidas mais robustas e reconfortantes. Originou-se na Irlanda na década de 1940 e desde então se tornou um clássico em bares e cafeterias ao redor do mundo. Foi concebido pelo Chef Joe Sheridan para aquecer os passageiros de um aeroporto irlandês durante uma tempestade de inverno. Desde então, tornou-se uma marca registrada da hospitalidade irlandesa.</strong>/p>
            </div>

    
    <script src="{% static 'js/script.js' %}"></script>
    <script src="https://kit.fontawesome.com/7b20608c37.js" crossorigin="anonymous"></script>
</body>

</html>
