body {
    font-family: "Work Sans", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9eed7;
}
.icones {
    margin-left: 20px;
}

.icones i {
    justify-content: left;
    color: #8f4515;
    font-size: 2rem;
    margin-left: 10px;
}

.header {
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}

.logo{
    margin-left: 40%;
}
a {
    text-decoration: none;
}

.word-box{
    padding: 20px;
    margin-left: 50px;
}

h2{
    margin-left: 50px;
    border-bottom: 1px solid #ccc;
    padding: 15px;
}

p{
    margin-left: 50px;
    border-bottom: 1px solid #ccc;
    padding: 15px;
}

