body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
}

.word-box{
    padding: 20px;
    margin-left: 50px;
}

h2{
    margin-left: 50px;
    border-bottom: 1px solid #ccc;
    padding: 15px;
}

p{
    margin-left: 50px;
    border-bottom: 1px solid #ccc;
    padding: 15px;
}