
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
/*botao de recomendação*/
.recommendations-btn {
    position: fixed;
    right: 20px;
    bottom: 20px;
}

/* HEADER */
.header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    display: flex;
    height: 60px;
    justify-content: center; /* Alinha os itens horizontalmente no centro */
    align-items: center; /* Alinha os itens verticalmente no centro */
}
#produtos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
a {
    text-decoration: none;
    color: white;
    font-size: 3rem;
    position: absolute;
    top: 20px;
}

/* ///////////////// */

/* BARRA DE PESQUISA */

.search-bar {
    position: absolute;
    top: 20px; /* Ajuste conforme necessário */
    right: 100px; /* Ajuste conforme necessário */
}

.search-bar input[type="text"] {
    padding-right: 30px; /* Ajuste conforme necessário para acomodar o ícone de pesquisa */
}

.search-bar .search-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px 10px;
    background-color: #ccc;
    border: none;
    cursor: pointer;
}

.search-bar .search-button i {
    font-size: 18px;
}

/* ///////////////// */

/* BARRA DE FILTROS */

.filter-bar {
    justify-content: center;
    text-align:center;
    align-items: center;
    height: 335px;
    border-radius: 20px;
    width: 60%;
    margin: 10px auto;
    border: 1px solid black;
    margin-bottom: 200px;
    height: 600px;
}

.filter-aroma, 
.filter-intensidade,
.filter-tamanho {
    display: inline-block;
    margin: 0 50px;
}

input[type="checkbox"] {
    display: none;
}

label {
    cursor: pointer;
}

input[type="checkbox"] + label img {
    opacity: 0.5;
}

input[type="checkbox"]:checked + label img {
    opacity: 1;
}

/* ///////////////// */

/* PRODUTOS */

.nomeCafe{
    text-align: center;
}

.descricaoTitle {
    margin-left: 400px;
}

.caracteristicas{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    vertical-align: middle;
    margin-top: 50px;
 
}

.caracteristica{
    text-align: center;
    display: inline-block;
    margin: 0 50px;
}
.products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 1000px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
.product{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 10px;
    width: 200px;
    height: 300px;
    margin-bottom: 300px;
}

.descricao {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-left: 100px;
}

.descricao .foto,
.descricao p {
    display: inline-block;
    width: 300px;
}

.descricao #fotoCafe {
    max-width: 248px;  /* Ajuste conforme necessário */
    max-height: 248px; /* Ajuste conforme necessário */
    min-width: 148px;  /* Ajuste conforme necessário */
    min-height: 148px; /* Ajuste conforme necessário */
}

.produtosCafe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    width: 200px;
    height: 300px;
}

/* ///////////////// */


